{% extends "web/index.html" %}
{% block content %} 
<meta charset="utf-8">
<script src="https://distill.pub/template.v1.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

<section id="inner-headline">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <ul class="breadcrumb">
                      <i class="fa fa-home"></i>
                      <a class="active"><a style="color:white" href ={% url 'time_series' %}> Automatic News (en)</a>
              </ul>
          </div>
      </div>
  </div>
</section>

<dt-article>
  {% load my_filter %}
   <h1>An automatic report for the data set: {{report.title}} </h1>
  <p>This report was produced by the Automatic Bayesian Covariance Discovery (ABCD) algorithm</p>

  <h2>Executive summary</h2>

  <p>The raw data and full model posterior with extrapolations are shown in the <a href="#fig:raw_and_fit">below figure</a>.</p>

  <p>
  <figure class="l-body-outset" id="fig:raw_and_fit">
    <img src=/static/upload/AutomaticNews/{{report.image_folder}}/raw.png alt="raw" style="width: 45%"> <img src=/static/upload/AutomaticNews/{{report.image_folder}}/fit.png alt="fit" style="width: 45%">
    <figcaption>Raw data (left) and model posterior with extrapolation (right)</figcaption>
  </figure>
  </p>

  <p>The structure search algorithm has identified {{n_components}} additive components in the data.</p>

  <!-- How much variance is explained by the fit -->

  <!--Comment of MAE-->



  <p>Short summaries of the additive components are as follows:</p>
  <ul>
    {% for component in components %}
    <li>{{component.summary}}</li>
    {% endfor %}
  </ul>

  <!--Summary of statistic table-->
  <table id="tab:stats">
    <tr>
      <th>#</th>
      <th>\(R^2\)(%)</th>
      <th>\(\Delta R^2\)(%)</th>
      <th>Residual \(R^2s\)</th>
      <th>Cross validate MAE</th>
      <th>Reduction in MAE</th>
    </tr>
    <tr>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>{{ mav_data|floatformat:1}}</td> 
      <td>-</td>
    </tr>
    {% for component in components %}
    <tr>
      <td> {{forloop.counter}} </td>
      <td> {{component.cum_var|floatformat:1}}</td>
      <td> 
        <!--Delta R^2: a little more complicate-->
        {% if forloop.counter == 1 %}
          {{component.cum_var | floatformat:1}}
        {% else %}
          {{components|diff_cum_var:forloop.counter0}}
        {% endif %}
      </td>
      <td> {{component.cum_res_var|floatformat:1}}</td>
      <td> {{component.mae|floatformat:1}}</td>
      <td> {{component.mae_reduction|floatformat:1}}</td>
    </tr>
    {% endfor %}
    <caption>
      Summary statistics of cummulative additive fits to the data.
      The residual coefficient of determination (\(R^2\)) values are computed using the residuals from the previous fit as
      the target values; this measures how much of the residual variance is explained by each new component.
      The mean absolute error (MAE) is calculated using 10 fold cross validation with a contiguous block design; this
      measures the ability of the model to interpolate and extrapolate over moderate distances.
      The model is fit using the full data and the MAE values are calculated using this model; this double use of data
      means that the MAE values cannot be used reliably as an estimate of out-of-sample predictive performance.
    </caption>
  </table>

  

  <!-- check for lack of model fit -->

  <!--Describe the structure of ducument-->
  <p>The rest of the document is structured as follows. In the <a href="#discussion"> detailed discussion section</a>,
    the forms of additive components are described and their posterior distribution
    are displayed. In the <a href="#extrap">extrapolation section</a>, the modelling assumptions of each components are
    discussed with reference
    to how this affects the extrapolations made by the model. <a href="#check">Model checking section</a> discusses
    model checking statistics, with plots showing the form of
    any detected discrepancies between the model and observed data.
  </p>

  <!--Detail discussion-->
  <h2 id="discusssion">Detailed discussion of additive components</h2>
  {% for component in components%}
  <h4>Component {{forloop.counter}}: {{component.summary}}</h4>
  <p>{{component.full_desc}}</p>

  <p>
    This component explain {{component.cum_res_var|floatformat:1}}% of the total variance
    {% if forloop.counter > 1 %} 
      ; this
      {% if components|increase_cum_var:forloop.counter0%} 
        increases 
      {% else %}
        reduces 
      {% endif %}
      the total variance explained from previous {{components|previous_var:forloop.counter0 | floatformat:1}}% to {{component.var|floatformat:1}}%
    {% endif %}
    . The addition of this component
    {% if component.mae_reduction < 0 %}
       reduces
    {% else %}
       increases
    {% endif %}
    the cross validate MAE by {{component.mae_reduction|abs | floatformat:1}}% from 
    {% if forloop.counter == 1%}
      {{mav_data|floatformat:1}}
      {% else %}
      {{components| previous_mae:forloop.counter0 |floatformat:1}}
    {% endif %}
    to {{component.mae|abs | floatformat:1}}.
    {% if component.mae_reduction < 0.1 %}
      {% if component.cum_res_var < 0.1 %}
        This component neither explains residual variance nor improves MAE and therefore is likely to be an artifact of the model or search procedure.
      {% else %}
        This component explains residual variance but does not improve MAE which suggests thats this components describes very short term patterns, uncorrelated noise or is an artifact of the model or search procedure.
      {% endif %}
    {% endif%}
  </p>

  <figure>
    <img src=/static/upload/AutomaticNews/{{report.image_folder}}/{{component.fit}} style="width: 45%"> 
    <img src=/static/upload/AutomaticNews/{{report.image_folder}}/{{component.cum_fit}} style="width: 45%"> 
    <figcaption>Pointwise posterior of component {{forloop.counter}} and the posterior of the cumulative sum of components with data (right)</figcaption>
  </figure>
  
  <!--residual figure: last component does not have this-->
  {% if forloop.counter < components|length %}
    <figure>
      <img src=/static/uploadAutomaticNews/{{report.image_folder}}/{{component.anti_res}} style="width: 45%"> 
      <figcaption>Pointwise posterior of residuals after adding component {{forloop.counter}}</figcaption>
    </figure>
  {% endif %}
  
  {% endfor%}

  
  <!--Extrapolation-->
  <h2 id="extrap">Extrapolations</h2>
  <p>
    Summaries of the posterior distribution of the full model are shown in this <a href="#fig:extrap">figure</a>. 
    The plot on the left displays the mean of the posterior together with pointwise variance.
    The plot on the right displays three random samples from the posterior.
  </p>
  <figure id="fig:extrap">
    <img src= /static/upload/AutomaticNews/{{report.image_folder}}/fit.png style="width: 45%"> 
    <img src= /static/upload/AutomaticNews/{{report.image_folder}}/sample.png style="width: 45%"> 
    <figcaption>Full model posterior with extrapolation. Mean and pointwase variance (left) and three random samples
      (right)</figcaption>
    </figure>
    <p>
      Below are descriptions of the modelling assumptions associated with each additive component and how they affect the
      predictive posterior.
      Plots of the pointwise posterior and samples from the posterior are also presented, showing extrapolations from each
      component and the cuulative sum of components.
    </p>
    {% for component in components%}
    <h4>Component {{forloop.counter}}: {{component.summary}}</h4>
    <p>{{component.extrap_desc}}</p>
    
    <figure>
      <img src=/static/upload/AutomaticNews/{{report.image_folder}}/{{component.extrap}} style="width: 80%"> 
      <img src=/static/upload/AutomaticNews/{{report.image_folder}}/{{component.cum_extrap}} style="width: 80%"> 
    <figcaption>
      Posterior of component {{forloop.counter}} (top) and cumulative sum of components (bottom) with extrapolation. 
      Mean and pointwise (left) and three samples from the posterior distribution (right).
    </figcaption>
  </figure>
  {% endfor%}

  <!--Model checking-->
  <h2 id="check">Model checking</h2>
  <p>
    Several posterior predictive checks have been performed to assess how well the model describes the observed data.
    These tests take the form of comparing statistics evaluated on samples from the prior and posterior distributions
    for each additive components.
    The statistics are derived from autocorrelation function (ACF) estimates, periodograms and quantile-quantile (qq)
    plots.
  </p>

  <p>
    The <a href="#tab:check">following table</a> display cummulative probability and p-value estimates for these
    quantities.
    Cummulative probabilities near 0/1 indicate that the test statistic was lower/higher under the poseterior compared
    to the prior unexpectedly often, i.e., they contain the same
    information as a \(p\)-value for a two-tailed test and they also express if the test statistic was higher or lower than
    expected.
    \(p\)-values near 0 indicates that the test statistic was larger in magnitude under the posterior comparted to the prior
    unexpectedly often.
  </p>

  <table id="tab:check">
    <thead>
      <tr>
        <th class="tg-0pky"></th>
        <th class="tg-c3ow" colspan="2">ACF</th>
        <th class="tg-c3ow" colspan="2">Periodogram</th>
        <th class="tg-c3ow" colspan="2">QQ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-c3ow">#</td>
        <td class="tg-c3ow">min</td>
        <td class="tg-c3ow">min loc</td>
        <td class="tg-c3ow">max</td>
        <td class="tg-c3ow">max loc</td>
        <td class="tg-c3ow">max</td>
        <td class="tg-c3ow">min</td>
      </tr>
      {% for component in components%}
      <tr>
        <td class="tg-c3ow">{{forloop.counter}}</td>
        <td class="tg-c3ow">{{component.acf_min | floatformat:3}}</td>
        <td class="tg-c3ow">{{component.acf_min_loc | floatformat:3}}</td>
        <td class="tg-c3ow">{{component.pxx_max | floatformat:3}}</td>
        <td class="tg-c3ow">{{component.pxx_max_loc | floatformat:3}}</td>
        <td class="tg-c3ow">{{component.qq_d_max | floatformat:3}}</td>
        <td class="tg-c3ow">{{component.qq_d_min | floatformat:3}}</td>
      </tr>
      {% endfor %}
    </tbody>
    <caption>Model checking statistics for each components. Cummulative probabilities for minimun of autocorrelation
      function (ACF) and its location.
      Cummulative probabilities for maximum of periodogram and its location.
      \(p\)-value for maximum and minimun deviation of QQ-plot from straight line.
    </caption>
  </table>

    <!--TODO: bad fit or moderate bad fit-->
  <p>
    TODO: check if this is bad fit
  </p>

  {% for component in components%}
    <h4>Component {{forloop.counter}}: {{component.summary}}</h4>
    <!--TODO: discussion -->
    <p>
      TODO: discussion heare
    </p>
    <figure>
      <img src=/static/upload/AutomaticNews/{{report.image_folder}}/acf_band_{{component.i}}.png style="width: 45%"> 
      <img src=/static/upload/AutomaticNews/{{report.image_folder}}/pxx_band_{{component.i}}.png style="width: 45%"> 
      <img src=/static/upload/AutomaticNews/{{report.image_folder}}/qq_band_{{component.i}}.png style="width: 45%"> 
      <figcaption>
        ACF (top left), periodogram (top right), and quantile-quantile (bottom left) uncertainty plots. 
      </figcaption>
    </figure>
  {% endfor %}

</dt-article>
{% endblock content %}