{% extends "web/index.html" %} {% block content %} {% load staticfiles%}
<!-- static을 사용하는 모든 개별 html에서 별도로 호출해야함 -->
<section id="inner-headline">
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<ul class="breadcrumb">
				<li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
				<li class="active">Symposium</li>
			</ul>
		</div>
	</div>
</div>
</section>
<section id="content">
<div class="container">
	<div class="lead">
	<div class="row">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#English" data-toggle="tab"><i class="icon-briefcase"></i> English</a></li>
			<li><a  href ='{% url '2018Symposium_ko' %}' >한국어</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="English">
				<div class="col-lg-12">
					<div class="post-image">
						<div class="post-heading">
							<h1>2018 International Explainable AI Symposium</h1>
							<h4>Friday, October 12th, 2018</h4>
							<h4>@ COEX ASEM Hall(COEX ASEM Ballroom), Seoul KOREA </h4>
						</div>
						<div class="col-lg-12">
							<div class="row">
								<a href="#Invitation" class="btn btn-danger">Invitation</a>
								<a href="#Keynote" class="btn btn-primary">Keynote Speakers</a>
								<a href="#Program" class="btn btn-theme">Program</a>
								<a href="#Registration" class="btn btn-warning">Registration</a>
								<a href="#Location" class="btn btn-info">Location</a>
								<a href="#Organization" class="btn btn-success">Organization</a>
								<a href="#Contact" class="btn btn-danger">Contact</a>
							</div>
						</div>
					</div>
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
					<a href="#Invitation" class="btn btn-danger btn-large">Invitation</a>
					<br>
					<br>
					<article>
						<p>
							We are pleased to invite you to <strong>2018 International Explainable AI Symposium</strong> sponsored by the Korea Government, Ministry of Science and ICT.
						There is growing interests on transparent AI technologies which could provide explanation of decisions. Recently, the Korea Government established an Explainable Artificial Intelligence (XAI)
						Center to build generally applicable XAI systems for healthcare and finance <a href="http://xai.unist.ac.kr/">http://xai.unist.ac.kr/</a>.<br>
						<br>
						 We invited top researchers/research organizations actively working on XAI problems. <strong>Prof. Klaus-Robert Müller </strong> (Director, Berlin Big Data Center)
						and <strong>Dr. David Gunning</strong>(Manager, the DARPA XAI Program) will deliver keynote speeches. Korean researchers who are actively working in the explainable AI project will present their work.<br>
						<br>
						 The symposium will be in Seoul Korea, October 12th, 2018 at Seoul COEX. We wish to see many of you in the symposium. <br>
						<br>
						<br>
						<div class="lead" style=" text-align: right; ">
						 Program Chairs,<br>
						 Jaesik Choi, Directory of UNIST Explainable Artificial Intelligence Center<br>
						 Seong-Whan Lee, Chairman of Korean Artificial Intelligence Association
						</div>
						</p>
					</article>
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
					<!-- Descriptions -->
					<div class="row">
						<div class="col-lg-6">
							<!-- Description -->
							<a href="#" class="btn btn-primary btn-large" id="Keynote">Keynote Speakers</a>
							<br>
							<br>
							<ul class="portfolio">
								<li class="item-thumbs col-lg-6 design">
								<img src="/static/img/member/muller.png" %} width=300 height=350><br>
								<span><strong>Klaus-Robert Müller</strong></span><br>
								<span>Director, Berlin Big Data Center</span><br>
								</li>
								<li class="item-thumbs col-lg-6 design">
								<img src="/static/img/member/david.png" %} width=300 height=350><br>
								<span><strong>David Gunning</strong></span><br>
								<span>Manager, the DARPA XAI Program </span><br>
								</li>
							</ul>
						</div>
					</div>
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
					<!-- Descriptions -->
					<div class="row">
						<div class="col-lg-12">
							<a href="#" class="btn btn-theme btn-large" id="Program">Program</a>
							<br>
							<br>
							<div class="pricing-box-alt special">
								<div class="pricing-heading">
								   <h3><strong>Program</strong> </h3>
							    </div>
							  <table class="table table-bordered" style="text-align: center; ">
								  <thead>
									<tr style="color: white; background-color:#393a3d;">
									  <th  style="text-align: center;  width:120px">Time</th>
									  <th style="text-align: center;  width:120px">Session</th>
										<th style="text-align: center; width:120px">Presenter</th>
										<th style="text-align: center; width:380px">Title</th>
									</tr>
								  </thead>
								  <tbody>
									  <tr style="background-color: #DFDDDD;">
										  <td>9:30 - 10:00</td>
										  <td colspan="3">Resgistration</td>
									  </tr>
									  <tr>
										  <td rowspan="2">10:00-10:20</td>
										  <td rowspan="2">Opening </td>
										  <td>Seong-Whan Lee<br>(Korean Artificial Intelligence Association)</td>
										  <td>Opening Message</td>
									  </tr>
									  <tr>
										  <td>Yong-hyeon Gwon<br>(Ministry of Science and Technology)</td>
										  <td>Congratulatory Message</td>
									  </tr>
										  <td>10:20-11:20</td>
										  <td>Keynote 1</td>
										  <td>David Gunning<br>(DARPA)</td>
										  <td>Introduction to the DARPA XAI program</td>
									  </tr>
									  </tr>
										  <td rowspan="2">11:20-12:00</td>
										  <td rowspan="2">Explainable Artificial Intelligence for Healthcare and Law</td>
										  <td>Yonsei Severance Hospital</td>
										  <td>Explainable Artificial Intelligence for Medical Problems</td>
									  </tr>
									  </tr>
										  <td>Law Firm</td>
										  <td>Action of Korean companies according to European general privacy policy</td>
									  </tr>
									  <tr style="background-color: #DFDDDD;">
										  <td>12:00-13:20</td>
										  <td colspan="3">Lunch</td>
									  </tr>
									  </tr>
										  <td>13:20-14:20</td>
										  <td>Keynote 2</td>
										  <td>Klaus Muller<br>(Berlin Big Data Center)</td>
										  <td>Techniques  to explain Deep Learning models(LRP)</td>
									  </tr>
									  </tr>
										  <td rowspan="2">14:20-15:10</td>
										  <td rowspan="2">Technical Speech 1</td>
										  <td>Jaesik Choi/<br>Byungki Seo<br>(UNIST)</td>
										  <td>Explaining and Predicting Financial Time Series</td>
									  </tr>
									  </tr>
										  <td>Seongju Hwang/<br>Eunho Yang<br>(KAIST)</td>
										  <td>Machine learning technology for learning causality of decision making</td>
									  </tr>
									  <tr style="background-color: #DFDDDD;">
										  <td>15:10-15:30</td>
										  <td colspan="3">Coffee Break</td>
									  </tr>
									  </tr>
										  <td rowspan="3">15:30-17:00</td>
										  <td rowspan="3">Technical Speech 2</td>
										  <td>NVIDIA</td>
										  <td>Explaining the Decision of Autonomous Vehicles</td>
									  </tr>
									  </tr>
										  <td>Seong-Whan Lee/<br>Heung-Il Suk<br>(Korea Univ.)</td>
										  <td>Visual and Textual Explanaions of Diagnosis in MRI Images</td>
									  </tr>
									  </tr>
										  <td>Jinkyu Yoo<br>(AItrics)</td>
										  <td>Real-world Applications of Explainable Artificial Intelligence in Healthcare
										  </td>
									  </tr>
									  </tr>
										  <td>17:00-17:40</td>
										  <td>Pannel Discussion</td>
										  <td>Pannels</td>
										  <td>Future Directions of Explainable Artificial Intelligence Research and Practice</td>
									  </tr>
								  </tbody>
							  </table>
							</div>
						</div>
					</div>
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
					<!-- Descriptions -->
					<div class="row">
						<div class="col-lg-12">
							<a href="#" class="btn btn-warning btn-large" id="Registration">Registration</a>
							<br>
							<br>
								 A link to <a href="http://aiassociation.kr/Conference/ConferenceRegistration.asp?AC=0&CODE=CC20180801&CpPage=R#CONF">http://aiassociation.kr/Conference/ConferenceRegistration.asp?AC=0&CODE=CC20180801&CpPage=R#CONF</a>
								</br></br>
								Payment is only available in South Korea. If you want to regist from another country, please contact us shcho@unist.ac.kr

						</div>
					</div>
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
					<a href="#" class="btn btn-info btn-large" id="Location">Location</a>
					<br>
					<br>
					<br>
					<div class="row">
						<div class="col-lg-6">
							<br>
							<div class="map">
								<div id="naver-map" style="width:100%;height:400px;">
								</div>
							</div>
								 Coex<br>
								513, Yeongdong-daero, Gangnam-gu<br>Seoul 06164 Republic of Korea<br><br>
								<a href="https://goo.gl/maps/tH9cz2FPmSB2" target="_blank"> Open in Google Maps</a><br>
								<a href="http://naver.me/GbmrgtLi" target="_blank"> Open in Naver Maps </a>
						</div>
					</div>
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
					<a href="#" class="btn btn-success btn-large" id="Organization">Organization</a>
					<br>
					<br>
					<div>
						<strong> Hosted by</strong><br>
						<br>
						<ul class="portfolio">
							<li class="item-thumbs col-lg-4 design">
								<a href="https://www.msit.go.kr"><img src="/static/img/logos/ministry_of_ST.png" width="150" height="50"/></a>
							<br><br>
							Ministry of Science and Technology
							</li>
							<li class="item-thumbs col-lg-4 design">
                               <a href="https://www.iitp.kr"><img src="/static/img/logos/IITP.png" width="150" height="50"/></a>
							<br><br>
							Institute for Information and communications Technology Promotion (IITP)
							</li>
						</ul>
					</div>
					<div class="row">
					</div>
					<div >
						<strong>Organized by </strong><br>
						<br>
						<ul class="portfolio">
							<li class="item-thumbs col-lg-4 design">
							<a href='{% url 'index'%}'><img src="/static/img/logos/XAIC_logo.png" width="150" height="50"/></a>
							<br><br>
							UNIST Explainable Artificial Intelligence Center
							</li>
							<li class="item-thumbs col-lg-4 design">
								<a href="http://aiassociation.kr/"><img src="/static/img/logos/AI_Association.png" width="200" height="50"/></a>
							<br><br>
							Korean Artificial Intelligence Association
							</li>
						</ul>
					</div>
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
					<div class="row">
						<div class="col-lg-12">
							<a href="#" class="btn btn-danger btn-large" id="Contact">Contact</a>
							<br>
							<br>
								 Sohee Cho, shcho@unist.ac.kr<br>
								 Gyeongeun Lee, socool@unist.ac.kr, 052-217-2196<br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
</section>

<!-- divider -->
<div class="row">
	<div class="col-lg-12">
		<div class="solidline">
		</div>
	</div>
</div>
<!-- end divider -->
 {% endblock content %} {% block script %}
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=g9DAE7AOMF4rEJUbJ0Kr"></script>
<script>
		// http://blog.goodkiss.co.kr/entry/ 좌표값 알아내는 사이트
		var mapOptions = {
		    center: new naver.maps.LatLng(37.5130620, 127.0586440),
		    zoom: 10
		};
		var map = new naver.maps.Map('naver-map', mapOptions);
		var marker = new naver.maps.Marker({position: new naver.maps.LatLng(37.5130620, 127.0586440), map:map})
	</script>
{% endblock script %}