{% extends "web/index.html" %} {% block content %} {% load staticfiles%}
<!-- static을 사용하는 모든 개별 html에서 별도로 호출해야함 -->
<section id="inner-headline">
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<ul class="breadcrumb">
				<li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
				<li class="active">Symposium</li>
			</ul>
		</div>
	</div>
</div>
</section>
<section id="content">
<div class="container">
	<div class="row">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#English" data-toggle="tab"><i class="icon-briefcase"></i> English</a></li>
			<li><a href="#Korean" data-toggle="tab">한국어</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="English">

				<div class="col-lg-12">
					<div class="post-image">
						<div class="post-heading">
							<h1>2018 International Explainable AI Symposium</h1>
							<h4>Friday, October 12th, 2018</h4>
							<h4>@ COEX ASEM Hall(COEX ASEM Ballroom), Seoul KOREA </h4>
						</div>
						<div class="col-lg-12">
							<div class="row">
								<a href="#Invitation" class="btn btn-theme">Invitation</a>
								<a href="#Keynote" class="btn btn-primary">Keynote Speakers</a>
								<a href="#Program" class="btn btn-danger">Program</a>
								<a href="#Registration" class="btn btn-warning">Registration</a>
								<a href="#Location" class="btn btn-info">Location</a>
								<a href="#Organization" class="btn btn-success">Organization</a>
							</div>
						</div>
					</div>
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
					<a href="#Invitation" class="btn btn-theme btn-large">Invitation</a>
					<br>
					<br>
					<article>
					<p class="lead">
						 We are pleased to invite you to <strong>2018 International Explainable AI Symposium</strong> sponsored by the Korea Government, Ministry of Science and ICT. There is growing interests on transparent AI technologies which could provide explanation of decisions. Recently, the Korea Government established an Explainable Artificial Intelligence (XAI) Center to build generally applicable XAI systems for healthcare and finance <a href="http://xai.unist.ac.kr/">http://xai.unist.ac.kr/</a>.<br>
						<br>
						 We invited top researchers/research organizations actively working on XAI problems. <strong>Prof. Klaus-Robert Müller </strong> (a pioneer in explaining Deep Learning models) and <strong>Dr. David Gunning</strong>(the DARPA XAI Program Manager) will deliver keynote speeches. Korean researchers who are actively working in the explainable AI project will present their work.<br>
						<br>
						 The symposium will be in Seoul Korea, October 12th, 2018 at Seoul COEX. We wish to see many of you in the symposium. <br>
						<br>
						<br>
						 Program Chairs,<br>
						 Jaesik Choi, Directory of UNIST Explainable Artificial Intelligence Center<br>
						 Seong-Whan Lee, Chairman of Korean Artificial Intelligence Society
					</p>
					</article>
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
					<!-- Descriptions -->
					<div class="row">
						<div class="col-lg-6">
							<!-- Description -->
							<a href="#" class="btn btn-primary btn-large" id="Keynote">Keynote Speakers</a>
							<br>
							<br>
							<ul class="portfolio">
								<li class="item-thumbs col-lg-6 design">
								<img src="/static/img/member/muller2.png" %} width=300 height=350><br>
								<span class="lead"><strong>Klaus-Robert Müller</strong></span><br>
								<span class="lead">a pioneer in explaining Deep Learning models</span><br>
								</li>
								<li class="item-thumbs col-lg-6 design">
								<img src="/static/img/member/david.png" %} width=300 height=350><br>
								<span class="lead"><strong>David Gunning</strong></span><br>
								<span class="lead">the DARPA XAI Program Manager</span><br>
								</li>
							</ul>
						</div>
					</div>
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
					<!-- Descriptions -->
					<div class="row">
						<div class="col-lg-6">
							<a href="#" class="btn btn-danger btn-large" id="Program">Program</a>
							<br><br>
							<p class="lead">
								<strong>Program</strong><br>
								 TBD.
							</p>
						</div>
					</div>
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
					<!-- Descriptions -->
					<div class="row">
						<div class="col-lg-12">
							<a href="#" class="btn btn-warning btn-large" id="Registration">Registration</a>
							<br><br>
							<p class="lead">
								 A link to <a href="http://aiassociation.kr/Conference/ConferenceRegistration.asp?AC=0&CODE=CC20180801&CpPage=R#CONF">http://aiassociation.kr/Conference/ConferenceRegistration.asp?AC=0&CODE=CC20180801&CpPage=R#CONF</a>
								</br></br>
								Payment is only available in South Korea. If you want to regist from another country, please contact us shcho@unist.ac.kr
							</p>
						</div>
					</div>
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
					<a href="#" class="btn btn-info btn-large" id="Location">Location</a>
					<br>
					<br>
					<br>
					<div class="row">
						<div class="col-lg-6">
							<br>
							<div class="map">
								<div id="naver-map" style="width:100%;height:400px;">
								</div>
							</div>
							<p class="lead">
								Coex<br/>
								513, Yeongdong-daero, Gangnam-gu<br/>Seoul 06164 Republic of Korea
							</p>
							<p class="lead">
								<a href="https://goo.gl/maps/tH9cz2FPmSB2" target="_blank"><span class="glyphicon glyphicon-map-marker kl-icon-white"></span> Open in Google Maps</a><br/>
								<a href="http://naver.me/GbmrgtLi" target="_blank"><span class="glyphicon glyphicon-map-marker kl-icon-white"></span> Open in Naver Maps </a>
							</p>
						</div>
					</div>
					<a href="#" class="btn btn-success btn-large" id="Organization">Organization</a>
					<br>
					<br>
					<div class="lead">
						<strong> Hosted by</strong><br><br>
						<ul class="portfolio">
							<li class="item-thumbs col-lg-4 design">
							<img src="/static/img/logos/ministry_of_ST.png" width="150" height="50"/><br><br>
							<span class="lead">Ministry of Science and Technology </span>
							</li>
							<li class="item-thumbs col-lg-4 design">
							<img src="/static/img/logos/IITP.png" width="150" height="50"/><br><br>
							<span class="lead">Institute for Information and communications Technology Promotion (IITP)</span>
							</li>
						</ul>
					</div>
					<div class="row">
					</div>
					<div class="lead">
						<strong>Organized by </strong><br><br>
						<ul class="portfolio">
							<li class="item-thumbs col-lg-4 design">
							<img src="/static/img/logos/XAIC_logo.png" width="150" height="50"/><br><br>
							<span class="lead">UNIST Explainable Artificial Intelligence Center</span>
							</li>
							<li class="item-thumbs col-lg-4 design">
							<img src="/static/img/logos/AI_Association.png" width="200" height="50"/><br><br>
							<span class="lead">Korean Artificial Intelligence Association</span>
							</li>
						</ul>
					</div>
				</div>
			</div>

	<div class="tab-pane" id="Korean">
		<div class="col-lg-12">
			<div class="post-image">
				<div class="post-heading">
					<h1>2018 국제 설명가능인공지능 심포지움</h1>
					<h4>2019년 10월 12일 금요일</h4>
					<h4>서울 코엑스 아셈홀</h4>
				</div>
				<div class="col-lg-12">
					<div class="row">
						<a href="#Invitation" class="btn btn-theme">Invitation</a>
						<a href="#Keynote" class="btn btn-primary">Keynote</a>
						<a href="#Program" class="btn btn-danger">Program</a>
						<a href="#Registration" class="btn btn-warning">Registration</a>
						<a href="#Location" class="btn btn-info">Location</a>
						<a href="#Organization" class="btn btn-success">Organization</a>
					</div>
				</div>
			</div>
			<!-- divider -->
			<div class="row">
				<div class="col-lg-12">
					<div class="solidline">
					</div>
				</div>
			</div>
			<!-- end divider -->
			<a href="#Invitation" class="btn btn-theme btn-large">Invitation</a>
			<br>
			<br>
			<article>
			<p class="lead">
과학기술정보통신부와 IITP가 후원하는 <strong>2018 국제설명가능인공지능 심포지움</strong>에 여러분을 초대합니다. 인공지능이 생성하는 의사결정에 대한 설명을 제공는 "설명가능 인공지능 기술(XAI)에 대한 관심이 커지고 있습니다.
				이에 대응하고자 의료 및 금융에 일반적으로 적용되는 시스템을 구축하기 위해 설명가능 인공지능센터가 설립되었습니다.  <a href="http://xai.unist.ac.kr/">http://xai.unist.ac.kr/</a>. </br>  </br>
				저희는 이번 심포지움을 준비하면서 설명가능 인공지능 분야에 적극적으로 활동하고 있는 세계적인 연구자 및 연구 기관을 초청했습니다. Deep Learning 모델 설명에서 널리활용되는 LPR 기술의 창시자인 <strong>Klaus-Robert Müller</strong>
				교수님과 미국 DARPA XAI 매니져인 <strong>David Gunning </strong>박사님께서 기조 연설을 맡아주셨습니다. 또한 국내 설명가능 인공지능 프로젝트에서 활발하게 활동하고있는 연구원들의 성과도 함께 공유하고자 합니다. </br>  </br>

				전세계 설명가능인공지능 연구의 소통의 장이 될 2018 국제설명가능인공지능 심포지움에서 만나뵙게 되길 기대합니다. 감사합니다.  </br>  </br> </br>


최재식 , UNIST 설명가능 인공지능 센터장</br>
이성환,  한국 인공 지능 학회 회장
			</p>
			</article>
			<!-- divider -->
			<div class="row">
				<div class="col-lg-12">
					<div class="solidline">
					</div>
				</div>
			</div>
			<!-- end divider -->
			<!-- Descriptions -->
			<div class="row">
				<div class="col-lg-6">
					<!-- Description -->
					<a href="#" class="btn btn-primary btn-large" id="Keynote">Keynote Speakers</a>
					<br>
					<br>
					<ul class="portfolio">
						<li class="item-thumbs col-lg-6 design">
						<img src="/static/img/member/muller2.png" %} width=300 height=350><br>
						<span class="lead"><strong>Klaus-Robert Müller</strong></span><br>
						<span class="lead">a pioneer in explaining Deep Learning models</span><br>
						</li>
						<li class="item-thumbs col-lg-6 design">
						<img src="/static/img/member/david.png" %} width=300 height=350><br>
						<span class="lead"><strong>David Gunning</strong></span><br>
						<span class="lead">the DARPA XAI Program Manager</span><br>
						</li>
					</ul>
				</div>
			</div>
			<!-- divider -->
			<div class="row">
				<div class="col-lg-12">
					<div class="solidline">
					</div>
				</div>
			</div>
			<!-- end divider -->
			<!-- Descriptions -->
			<div class="row">
				<div class="col-lg-6">
					<a href="#" class="btn btn-danger btn-large" id="Program">Program</a>
					<br><br>
					<p class="lead">
						<strong>Program</strong></br></br>
						 공지예정입니다. </br></br>
					</p>
				</div>
			</div>
			<!-- divider -->
			<div class="row">
				<div class="col-lg-12">
					<div class="solidline">
					</div>
				</div>
			</div>
			<!-- end divider -->
			<!-- Descriptions -->
			<div class="row">
				<div class="col-lg-12">
					<a href="#" class="btn btn-warning btn-large" id="Registration">Registration</a>
					<br><br>
					<p class="lead">
						아래 링크로 연결되는 한국인공지능학회 홈페이지에서 등록 및 결제하실 수 있습니다.</br>
						<a href="http://aiassociation.kr/Conference/ConferenceRegistration.asp?AC=0&CODE=CC20180801&CpPage=R#CONF">http://aiassociation.kr/Conference/ConferenceRegistration.asp?AC=0&CODE=CC20180801&CpPage=R#CONF</a>
					</p>
				</div>
			</div>
			<!-- divider -->
			<div class="row">
				<div class="col-lg-12">
					<div class="solidline">
					</div>
				</div>
			</div>
			<!-- end divider -->
			<a href="#" class="btn btn-info btn-large" id="Location">Location</a>
			<br>
			<div class="row">
				<div class="col-lg-6">
					<br>
					<p class="lead">
						서울 강남구 영동대로 513 코엑스 아셈홀 06164
					</p>
					<p class="lead">
						<a href="https://goo.gl/maps/tH9cz2FPmSB2" target="_blank"><span class="glyphicon glyphicon-map-marker kl-icon-white"></span> 구글 지도에서 열기</a><br/>
						<a href="http://naver.me/GbmrgtLi" target="_blank"><span class="glyphicon glyphicon-map-marker kl-icon-white"></span> 네이버 지도에서 열기 </a>
					</p>
				</div>
			</div>
			<a href="#" class="btn btn-success btn-large" id="Organization">Organization</a>
			<br>
			<br>
			<div class="lead">
				<strong> Hosted by</strong><br><br>
				<ul class="portfolio">
					<li class="item-thumbs col-lg-4 design">
					<img src="/static/img/logos/ministry_of_ST.png" width="150" height="50"/><br><br>
					<span class="lead">과학기술정보통신부 </span>
					</li>
					<li class="item-thumbs col-lg-4 design">
					<img src="/static/img/logos/IITP.png" width="150" height="50"/><br><br>
					<span class="lead">정보통신기술진흥센터(IITP)</span>
					</li>
				</ul>
			</div>
			<div class="row">
			</div>
			<div class="lead">
				<strong>Organized by </strong><br><br>
				<ul class="portfolio">
					<li class="item-thumbs col-lg-4 design">
					<img src="/static/img/logos/XAIC_logo.png" width="150" height="50"/><br><br>
					<span class="lead">UNIST 설명가능인공지능센터</span>
					</li>
					<li class="item-thumbs col-lg-4 design">
					<img src="/static/img/logos/AI_Association.png" width="200" height="50"/><br><br>
					<span class="lead">한국 인공지능 학회</span>
					</li>
				</ul>
			</div>
		</div>
			</div></div>


			</div>
		</div>
	</div>
</div>
</section>
<!-- divider -->
<div class="row">
	<div class="col-lg-12">
		<div class="solidline">
		</div>
	</div>
</div>
<!-- end divider -->
 {% endblock content %} {% block script %}
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=g9DAE7AOMF4rEJUbJ0Kr"></script>
<script>
		// http://blog.goodkiss.co.kr/entry/ 좌표값 알아내는 사이트
		var mapOptions = {
		    center: new naver.maps.LatLng(37.5130620, 127.0586440),
		    zoom: 10
		};
		var map = new naver.maps.Map('naver-map', mapOptions);
		var marker = new naver.maps.Marker({position: new naver.maps.LatLng(37.5130620, 127.0586440), map:map})
	</script>
{% endblock script %}