{% extends "web/index.html" %}
{% block content %}
   <section id="inner-headline">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <ul class="breadcrumb">
                  <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                  <li class="active">Symposium</li>
               </ul>
            </div>
         </div>
      </div>
   </section>
   <section id="content">
      <div class="container">
         <div class="row">
            <div class="col-lg-8">
               <div class="post-image">
                  <div class="post-heading">
                     <h1><a href="#">2018 XAI International  Symposium</a></h1>
                     <h4>Friday October 12, 2018</h4>
                     <h4>COEX, Seoul</h4>
                  </div>
               <div class="row demobtn">
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-12">
								<a href="#" class="btn btn-theme">Organization</a>
								<a href="#" class="btn btn-primary">Proceeding</a>
								<a href="#" class="btn btn-warning">Sponsors</a>
								<a href="#" class="btn btn-danger">Awards</a>
								<a href="#" class="btn btn-info">Tutorial</a>
								<a href="#" class="btn btn-success">Press</a>
							</div>
						</div>
                     </div>
               </div>
                <div class="row">
					<div class="col-lg-6">
						<!-- Description -->
						<h5>Anouncements</h5>
					</div>
                </div>
                <div class="row">
                   <div class="col-lg-6">
						<!-- Description -->
						<h5>Programs</h5>
					</div>
                </div>
                <div class="row">
                   <div class="col-lg-6">
						<!-- Description -->
						<h5>Organization</h5>

					</div>
				</div>
               </article>
            </div>
         </div>
      </div>
   </section>
{% endblock content %}