{% extends "web/index.html" %} {% block content %} {% load staticfiles%}
<!-- static을 사용하는 모든 개별 html에서 별도로 호출해야함 -->
<section id="inner-headline">
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<ul class="breadcrumb">
				<li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
				<li class="active">Symposium</li>
			</ul>
		</div>
	</div>
</div>
</section>
<section id="content">
<div class="container">
	<div class="lead">
	<div class="row">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#Korean" data-toggle="tab"><i class="icon-briefcase"></i> 한국어</a></li>
			<li><a  href ='{% url '2018Symposium' %}' >English</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="Korean">
				<div class="col-lg-12">
					<div class="post-image">
						<div class="post-heading">
							<h1>2018 국제 설명가능인공지능 심포지움</h1>
							<h4>2018년 10월 12일 금요일</h4>
							<h4>@서울 코엑스 아셈홀</h4>
						</div>
						<div class="col-lg-12">
							<div class="row">
								<a href="#Invitation2" class="btn btn-danger">Invitation</a>
								<a href="#Keynote2" class="btn btn-primary">Keynote Speakers</a>
								<a href="#Program2" class="btn btn-theme">Program</a>
								<a href="#Registration2" class="btn btn-warning">Registration</a>
								<a href="#Location2" class="btn btn-info">Location</a>
								<a href="#Organization2" class="btn btn-success">Organization</a>
								<a href="#Contact2" class="btn btn-danger">Contact</a>
							</div>
						</div>
					</div>
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
					<a href="#Invitation" class="btn btn-danger btn-large">Invitation</a>
					<br>
					<br>
					<article>
						과학기술정보통신부와 IITP가 후원하는 <strong>2018 국제설명가능인공지능 심포지움</strong>에 여러분을 초대합니다.<br><br>

						최근 인공지능이 생성하는 의사결정에 대해 문장, 그림, 그래프 등으로 설명을 제공하는 "설명가능 인공지능 기술(XAI)"에 대한 관심이 커지고 있습니다.
						이러한 흐름에 동참하여 과학기술정보통신부 산하 UNIST 설명가능 인공지능센터가 설립되어 의료 및 금융에 일반적으로 적용되는 시스템을 구축하고 있습니다. <a href="http://xai.unist.ac.kr/">http://xai.unist.ac.kr/</a>. <br><br>

						설명가능 인공지능센터와 한국인공지능학회에서는 국내외 설명가능 인공지능 연구에 대한 교류를 위해 2018 국제설명가능인공지능 심포지움을 개최합니다.
						이번 심포지움에는 설명가능 인공지능 분야에 적극적으로 활동하고 있는 세계적인 연구자와 연구 기관이 함께할 예정입니다. 딥러닝 모델의 의사결정을 설명하는 기술 개발을 선도하는 연구자인 <strong>Klaus-Robert Müller</strong>
						교수님과 미국 DARPA XAI 매니저인 <strong>David Gunning </strong>박사님께서 기조 연설을 맡아주셨습니다. 국내외 설명가능 인공지능 프로젝트에서 활발하게 진행중인 연구성과들도 공유될 것 입니다. <br><br>
						전세계 설명가능인공지능 연구의 소통의 장이 될 2018 국제 설명가능인공지능 심포지움에서 만나뵙게 되길 기대합니다. 감사합니다. <br><br><br>

						<div style=" text-align: right; ">
							UNIST 설명가능인공지능센터 센터장 <strong>최재식</strong><br>
							한국인공지능학회 회장 <strong>이성환</strong>

					</div>
					</article>
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
					<!-- Descriptions -->
					<div class="row">
						<div class="col-lg-6">
							<!-- Description -->
							<a href="#" class="btn btn-primary btn-large" id="Keynote2">Keynote Speakers</a>
							<br>
							<br>
							<ul class="portfolio">
								<li class="item-thumbs col-lg-6 design">
								<img src="/static/img/member/muller.png" %} width=300 height=350><br>
								<strong>Klaus-Robert Müller</strong><br>
								Director, Berlin Big Data Center<br>
								</li>
								<li class="item-thumbs col-lg-6 design">
								<img src="/static/img/member/david.png" %} width=300 height=350><br>
								<strong>David Gunning</strong><br>
								Manager, the DARPA XAI Program <br>
								</li>
							</ul>
						</div>
					</div>
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
					<!-- Descriptions -->
					<div class="row">
						<div class="col-lg-12">
							<a href="#" class="btn btn-theme btn-large" id="Program2">Program</a>
							<br>
							<br>
							<div class="pricing-box-alt special">
								<div class="pricing-heading">
								   <h3><strong>프로그램</strong> </h3>
							    </div>
							  <table class="table table-bordered" style="text-align: center; ">
								  <thead>
									<tr style="color: white; background-color:#393a3d;">
									  <th  style="text-align: center; width:100px">시간</th>
									  <th style="text-align: center;  width:100px">세션</th>
										<th style="text-align: center; width:140px">발표자</th>
										<th style="text-align: center; width:350px">제목</th>
									</tr>
								  </thead>
								  <tbody>
									  <tr style="background-color: #DFDDDD;">
										  <td>9:30 - 10:00</td>
										  <td colspan="3">등록</td>
									  </tr>
									  <tr>
										  <td rowspan="2">10:00-10:20</td>
										  <td rowspan="2">개회사 </td>
										  <td>이성환<br>(한국인공지능학회)</td>
										  <td>환영사</td>
									  </tr>
									  <tr>
										  <td>권용현<br>(과학기술정보통신부)</td>
										  <td>축사</td>
									  </tr>
										  <td>10:20-11:20</td>
										  <td>기조연설 1</td>
										  <td>David Gunning<br>(DARPA)</td>
										  <td>미국 DARPA XAI program 소개</td>
									  </tr>
								      </tr>
										  <td rowspan="2">11:20-12:00</td>
										  <td rowspan="2">설명가능<br>의료/법률 동향</td>
										  <td>연세의료원</td>
										  <td>의료를 위한 설명가능 인공지능</td>
									  </tr>
									  </tr>
										  <td>법무법인</td>
										  <td>유럽 일반 개인정보보호 규정에 따른 국내 기업의 대응</td>
									  </tr>
									  <tr style="background-color: #DFDDDD;">
										  <td>12:00-13:20</td>
										  <td colspan="3">점심</td>
									  </tr>
									  </tr>
										  <td>13:20-14:20</td>
										  <td>기조연설 2</td>
										  <td>Klaus Muller<br>(베를린 빅데이터센터)</td>
										  <td>딥러닝을 설명하는 인공지능 기술</td>
									  </tr>
									  </tr>
										  <td rowspan="2">14:20-15:10</td>
										  <td rowspan="2">기술발표 1</td>
										  <td>최재식/서병기<br>(UNIST)</td>
										  <td>금융 시계열 데이터를 예측하고 설명하는 기술</td>
									  </tr>
									  </tr>
										  <td>황성주/양은호<br>(KAIST)</td>
										  <td>의사결정의 인과관계를 학습하는 기계학습 기술</td>
									  </tr>
									  <tr style="background-color: #DFDDDD;">
										  <td>15:10-15:30</td>
										  <td colspan="3">휴식</td>
									  </tr>
									  </tr>
										  <td rowspan="3">15:30-17:00</td>
										  <td rowspan="3">기술발표 2</td>
										  <td>NVIDIA</td>
										  <td>자율주행 자동차의 개발에 필요한 설명가능 인공지능</td>
									  </tr>
									  </tr>
										  <td>이성환/석흥일<br>(고려대)</td>
										  <td>MRI 영상을 진단하고 그 이유를 설명하는 인공지능 기술
										  </td>
									  </tr>
									  </tr>
										  <td>유진규<br>(AItrics)</td>
										  <td>설명가능 인공지능 기술의 의료분야 상용화 기술</td>
									  </tr>
									  </tr>
										  <td>17:00-17:40</td>
										  <td>패널 토론</td>
										  <td>국내 외 연사6인</td>
										  <td>설명가능 인공지능의 연구와 응용의 발전방향</td>
									  </tr>
								  </tbody>
							  </table>
							</div>
						</div>
					</div>
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
					<!-- Descriptions -->
					<div class="row">
						<div class="col-lg-12">
							<a href="#" class="btn btn-warning btn-large" id="Registration2">Registration</a>
							<br>
							<br>
								 아래 링크로 연결되는 한국인공지능학회 홈페이지에서 등록하실 수 있습니다.</br>
								<a href="http://aiassociation.kr/Conference/ConferenceRegistration.asp?AC=0&CODE=CC20180801&CpPage=R#CONF">http://aiassociation.kr/Conference/ConferenceRegistration.asp?AC=0&CODE=CC20180801&CpPage=R#CONF</a>
						</div>
					</div>
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
					<a href="#" class="btn btn-info btn-large" id="Location">Location</a>
					<br>
					<br>
					<br>
					<div class="row">
						<div class="col-lg-6">
							<br>
							<div class="map">
								<div id="naver-map" style="width:100%;height:400px;">
								</div>
							</div>
								 서울 강남구 영동대로 513 코엑스 아셈홀<br><br>
								<a href="https://goo.gl/maps/tH9cz2FPmSB2" target="_blank">구글 지도에서 열기</a><br>
								<a href="http://naver.me/GbmrgtLi" target="_blank">네이버 지도에서 열기 </a>
						</div>
					</div>
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
					<a href="#" class="btn btn-success btn-large" id="Organization2">Organization</a>
					<br>
					<br>
					<div>
						<strong>후원</strong><br>
						<br>
						<ul class="portfolio">
							<li class="item-thumbs col-lg-4 design">
								<a href="https://www.msit.go.kr"><img src="/static/img/logos/ministry_of_ST.png" width="150" height="50"/></a>
							<br><br>
							</li>
							<li class="item-thumbs col-lg-4 design">
								<a href="https://www.iitp.kr"><img src="/static/img/logos/IITP.png" width="150" height="50"/></a>
							<br><br>
							</li>
						</ul>
					</div>
					<div class="row">
					</div>
					<div>
						<strong>주관 </strong><br>
						<br>
						<ul class="portfolio">
							<li class="item-thumbs col-lg-4 design">
							<a href='{% url 'index'%}'><img src="/static/img/logos/XAIC_logo.png" width="150" height="50"/></a>
						    <br><br>
							</li>
							<li class="item-thumbs col-lg-4 design">
							<a href="http://aiassociation.kr/"><img src="/static/img/logos/AI_Association.png" width="200" height="50"/></a>
                             <br><br>
							</li>
						</ul>
					</div>
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
					<div class="row">
						<div class="col-lg-12">
							<a href="#" class="btn btn-danger btn-large" id="Contact2">Contact</a>
							<br><br>
								<strong>UNIST 설명가능 인공지능센터</strong><br>
								이경은, socool@unist.ac.kr, 052-217-2196<br>
								<br>
								<strong>한국인공지능학회 </strong><br>
 									박수정, kaia@aiassociation.kr, 02-928-5920<br>
								<br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
</section>
<!-- divider -->
<div class="row">
	<div class="col-lg-12">
		<div class="solidline">
		</div>
	</div>
</div>
<!-- end divider -->
 {% endblock content %} {% block script %}
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=g9DAE7AOMF4rEJUbJ0Kr"></script>
<script>
		// http://blog.goodkiss.co.kr/entry/ 좌표값 알아내는 사이트
		var mapOptions = {
		    center: new naver.maps.LatLng(37.5130620, 127.0586440),
		    zoom: 10
		};
		var map = new naver.maps.Map('naver-map', mapOptions);
		var marker = new naver.maps.Marker({position: new naver.maps.LatLng(37.5130620, 127.0586440), map:map})
	</script>
{% endblock script %}