{% extends "web/index.html" %}
{% block content %}

<section id="inner-headline">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <ul class="breadcrumb">
                  <li>
                      <a href="#">
                          <i class="fa fa-home"></i>
                      </a>
                      <i class="icon-angle-right"></i>
                  </li>
                   <a class="active"><a style="color:white" href ='{% url 'autonews' %}' >Automatic News</a></li>
              </ul>
          </div>
      </div>
  </div>
</section>
<section id="content">
    <div class="container">
        <br>
        <strong>
        <br>
        해당 데이터에 대한 4주 후 예측 기사는 주식시장 휴장관계로 제공되지 않습니다. <br><br></strong>

        데이터는 주식시장이 운영되는 주 수요일에 업데이트 됩니다.<br>
        감사합니다<br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</section>


{% endblock content %}
