{% extends "web/index.html" %}
{% block content %}
   <section id="inner-headline">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <ul class="breadcrumb">
                  <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                  <li class="active">Introduction</li>
               </ul>
            </div>
         </div>
      </div>
   </section>
   <section id="content">
      <div class="container">
         <div class="row">
               <article class="lead">
                  <br><br>
                  &nbsp;&nbsp;   The XAI center is developing new or modified machine learning techniques to produce explainable AI models. The explainable AI models provide effective explanation for human to understand the reasons of decision making via
                  machine learning and statistical inference based on real-world data. The center highly contributes to Medical and Financial industry, which obtains high advantage by adopting AI but high risk follows without explainability.
                  <br><br>
                     <h1 style="text-align:center;"> Explainable AI Program in Korea</h1>
                     <img src="/static/img/intro/intro1.png" style="" />
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
                  <h1 style="text-align:center;"> XAI Program Schedule in Korea</h1>
                     <img src="/static/img/intro/intro2.png" style="" />
 					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
                  <h1 style="text-align:center;"> Project Organization</h1>
                     <img src="/static/img/intro/intro3.png" style="" />
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
                  <h1 style="text-align:center;"> XAI Performers & Technical Approaches</h1>
                     <img src="/static/img/intro/intro4.png" style="" />
 					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
                  <h1 style="text-align:center;"> R&D Objectives and co-PIs</h1>
                     <img src="/static/img/intro/intro5.png" style="" />





<!--Explainable AI Program in Korea-->
<!--XAI Program Schedule in Korea-->
<!--Project Organization-->
<!--XAI Performers & Technical Approaches-->
<!--R&D Objectives and co-PIs-->


               </article>
         </div>
      </div>
   </section>
{% endblock content %}