{% extends "web/index.html" %}
{% block content %}
   <section id="inner-headline">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <ul class="breadcrumb">
                  <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                  <li class="active">Notice</li>
               </ul>
            </div>
         </div>
      </div>
   </section>

   <section id="content">
      <div class="container">
         <div class="row">
               <div class="col-lg-12">
               <article>
                  <div class="post-image">
                     <div class="post-heading">
                        <h3><a href="#">2018 International Explainable AI Symposium</a></h3>
                     </div>
                  </div>
                  <p class="lead">
                  	 <img src="/static/img/main/syposium_poster.jpg" style="width:400px;" />
                     <br><br>
                     2018 International Explainable AI Symposium will be in Seoul Korea, October 12th, 2018 at Seoul COEX.
                     <br><br>

                     <a href='{% url 'Symposium18' %}'>English Information</a><br>
                     <a href='{% url 'Symposium18_ko' %}'>Korean Information</a>

                  </p>
               </article>
            </div>
         </div>
      </div>
   </section>
{% endblock content %}