{% extends "web/index.html" %}
{% block content %}
   <section id="inner-headline">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <ul class="breadcrumb">
                  <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                  <li class="active">Project</li>
               </ul>
            </div>
         </div>
      </div>
   </section>
   <section id="content">
      <div class="container">
         <div class="row">
            <div class="col-lg-8">
               <article class="lead">
                  <h3>Our project consists of 4 parts.</h3>
                     <br> 
                     part 1 : Explainable Time Series <br>
                     <img src="/static/img/part/part1.png" alt="" />
                     <br><br>
                     part 2 : OneShot/ZeroShot<br>
                     <img src="/static/img/part/part2.png" alt="" />
                     <br><br>
                     part 3 : Explainable Interface<br>
                     <img src="/static/img/part/part3.png" alt="" />
                     <br><br>
                     part 4 : Precision Medicine<br>
                     <img src="/static/img/part/part4.png" alt="" />
                  </p>
               </article>
            </div>
         </div>
      </div>
   </section>
{% endblock content %}