{% extends "web/index.html" %}
{% block content %}
   <section id="inner-headline">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <ul class="breadcrumb">
                  <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                  <li class="active">Publication</li>
               </ul>
            </div>
         </div>
      </div>
   </section>
   <section id="content">
      <div class="container">
         <table class="table table-bordered">
          <thead>
            <tr>
              <th>No.</th>
              <th>Title</th>
              <th>Author</th>
              <th>Date</th>
              <th>Journal</th>
              <th>Publication</th>
            </tr>
          </thead>
          <tbody>
          {% for list in object_list %}
              <tr>
                  <td>{{forloop.counter }}</td>
                  <td><a href={{list.link}}>{{list.title}}</a></td>
                  <td>{{list.author}} </td>
                  <td>{{list.date | date:'Y-m-d'}}</td>
                  <td>{{list.journal}} </td>
                  <td>{{list.publication}}</td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
   </section>
{% endblock content %}