{% extends "web/index.html" %} {% block content %} {% load staticfiles%}
<!-- static을 사용하는 모든 개별 html에서 별도로 호출해야함 -->
<section id="inner-headline">
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<ul class="breadcrumb">
				<li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
				<li class="active">Wokrshop</li>
			</ul>
		</div>
	</div>
</div>
</section>
<section id="content">
<div class="container">
	<div class="lead">
	<div class="row">
		<!--<ul class="nav nav-tabs">-->
			<!--<li class="active"><a href="#English" data-toggle="tab"><i class="icon-briefcase"></i> English</a></li>-->
			<!--<li><a  href ='{% url 'Symposium18_ko' %}' >한국어</a></li>-->
		<!--</ul>-->
		<div class="tab-content">
			<div class="tab-pane active" id="English">
				<div class="col-lg-12">
					<div class="post-image">
						<div class="post-heading">
							<a href="http://iccv2019.thecvf.com/"><img src="/static/img/event/ICCV19logo.png" style="" /></a><br><br>
							<h1>2019 ICCV Workshop on</h1>
							<h2>Interpreting and Explaining Visual Artificial Intelligence Models</h2>
							<br>
							<h4>Saturday, November 2nd, 2019</h4>
							<h4>@ COEX 318AB, Seoul, Korea </h4>
						</div>
						<div class="col-lg-12">
							<div class="row">
								<a href="#Invitation" class="btn btn-danger">Invitation</a>
								<a href="#Organizers" class="btn btn-primary">Organizers</a>
								<a href="#Speakers" class="btn btn-warning">Invited Speakers</a>
								<a href="#Submission" class="btn btn-info">Paper Submission</a>
								<a href="#Program" class="btn btn-theme">Program</a>
								<a href="#Contact" class="btn btn-success">Contact</a>
							</div>
						</div>
					</div>
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
					<a href="#Invitation" class="btn btn-danger btn-large">Invitation</a>
					<br>
					<br>
					<article>
						<p>
						Explainable and interpretable machine learning models and algorithms are important topics which have
						received growing attention from research, application and administration. Many advanced visual artificial
						intelligence systems are often perceived as black-boxes. Researchers would like to be able to interpret what
						the AI model has learned in order to identify biases and failure models and improve models. Many government
						agencies pay special attention to the topic. In May 2018, EU enacted the General Data Protection Regulation
						(GDPR) which mandates a right to explanation from machine learning model. An USA agency, DARPA,
						launched an Explainable Artificial Intelligence program in 2017. The ministry of science and ICT (MSIT) of
						South Korea established an Explainable Artificial Intelligence Center.<br><br>
						Recently, several models and algorithms are introduced to explain or interpret the decision of complex
						artificial intelligence system. Explainable Artificial Intelligence systems can now explain the decisions of
						autonomous system such as self-driving cars and game agents trained by deep reinforcement learning.
						Saliency maps built by attribution methods such as network gradients, DeConvNet, Layer-wise Relevance
						Propagation, PatternAttribution and RISE can identify relevant inputs upon the decisions of classification or
						regression tasks. Bayesian model composition methods can learn automated decomposition of input data into
						a composition of explainable base models in human pose estimation. Model agnostic methods such as LIME
						(Local interpretable model-agnostic explanations) and SHAP make complex deep learning models by
						providing importance of input features. Network Dissection and GAN Dissection provide human-friendly
						interpretations of internal nodes in deep neural network and deep generative models.<br><br>
						The present workshop aims to overview recent advances in explainable/interpretable artificial intelligence and
						establish new theoretical foundations of interpreting and understanding visual artificial intelligence models
						including deep neural networks. We will discuss the future research directions and applications of
						explainable visual artificial intelligence.<br><br>
						This workshop has interest including but not limited to the following topics.<br>
						- Explaining the decision of visual deep learning models<br>
						- Interpretable deep learning models<br>
						- Machine learning/deep learning models which generates human-friendly explanations<br>
						- Bayesian model composition/decomposition methods<br>
						- Model-agnostic machine learning explainable models<br>
						- Evaluation of explainable AI models<br>
						- Causal analysis of complex AI/ML systems<br>
						- Practical applications of explainable AI<br>
						</p>
					</article>
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
					<!-- Descriptions -->
					<a href="#" class="btn btn-primary btn-large" id="Organizers">Organizers</a>
					<br>
					<br>
					<div class="row">
						<div class="col-lg-4">
								<span><Strong>Jaesik Choi</Strong></span>
								<span>@UNIST</span>
								<a href="http://sail.unist.ac.kr/members/jaesik/"><i class="fa fa-home"></i></a>
						</div>
						<div class="col-lg-4">
								  <span><Strong>Seong-Whan Lee</Strong></span>
								  <span>@Korea Univ.</span>
								  <a href="http://pr.korea.ac.kr/sub2_1.php?code=LSW"><i class="fa fa-home"></i></a>
						</div>
						<div class="col-lg-4">
								  <span><Strong>K.-R. Müller</Strong></span>
								  <span>@TU Berlin</span>
								  <a href="http://heatmapping.org/"><i class="fa fa-home"></i></a>
						</div>
						<div class="col-lg-4">
								  <span><Strong>Seongju Hwang</Strong></span>
								  <span>@KAIST</span>
								  <a href="http://www.sungjuhwang.com/"><i class="fa fa-home"></i></a>
						</div>
						<div class="col-lg-4">
								  <span><Strong>Bohyung Han</Strong></span>
								  <span>@SNU</span>
								  <a href="https://cv.snu.ac.kr/index.php/~bhhan/"><i class="fa fa-home"></i></a>
						</div>
						<div class="col-lg-4">
								  <span><Strong>David Bau</Strong></span>
								  <span>@MIT</span>
								  <a href="http://people.csail.mit.edu/davidbau/home/"><i class="fa fa-home"></i></a>
						</div>
						<div class="col-lg-4">
							  <span><Strong>Ludwig Schubert</Strong></span>
							  <span>@OpenAI</span>
							<a href="https://distill.pub/about/"><i class="fa fa-home"></i></a>
						</div>
						<div class="col-lg-4">
							  <span><Strong>Yong Man Ro</Strong></span>
							  <span>@KAIST</span>
							<a href="http://ivylab.kaist.ac.kr/base/people/people1.php"><i class="fa fa-home"></i></a>
						</div>

					</div>
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
					<!-- Descriptions -->
					<a href="#" class="btn btn-warning" id="Speakers">Invited Speakers</a>
					<br>
					<br>
					<div class="row">
						<div class="col-lg-3">
							  <div style="text-align:center;">
								<img style="width:180px;height:240px" src={% static "img/event/Trevor.png" %}><br>
							    <span><Strong>Trevor Darrell</Strong></span>
							  </div>
							  <span><i class="fas fa-id-card-alt"></i> Professor</span><br>
							  <span><i class="fas fa-building"></i> UC Berkeley</span><br>
							  <a href="https://people.eecs.berkeley.edu/~trevor/"><i class="fa fa-home"></i></a>
							 <!--title "Recent progress towards XAI at UC Berkeley"-->
						</div>
						<div class="col-lg-3">
							  <div style="text-align:center;">
								<img style="width:180px;height:240px" src={% static "img/event/wojciech.png" %}><br>
							    <span><Strong>Wojciech Samek</Strong></span>
							  </div>
							  <span><i class="fas fa-id-card-alt"></i> Head of Machine Learning Group</span><br>
							  <span><i class="fas fa-building"></i> Fraunhofer Heinrich Hertz Institute</span><br>
							  <a href="http://iphome.hhi.de/samek/"><i class="fa fa-home"></i></a>
						</div>
						<div class="col-lg-3">
							  <div style="text-align:center;">
								<img style="width:180px;height:240px" src={% static "img/event/bau.png" %}><br>
							    <span><Strong>David Bau</Strong></span>
							  </div>
							  <span><i class="fas fa-id-card-alt"></i> PhD student</span><br>
							  <span><i class="fas fa-building"></i> MIT</span><br>
							  <a href="http://people.csail.mit.edu/davidbau/home/"><i class="fa fa-home"></i></a>
						</div>
						<div class="col-lg-3">
							  <div style="text-align:center;">
								<img style="width:180px;height:240px" src={% static "img/event/ludwig.png" %}><br>
							    <span><Strong>Ludwig Schubert</Strong></span>
							  </div>
							  <span><i class="fas fa-id-card-alt"></i> Software Engineer</span><br>
							  <span><i class="fas fa-building"></i> OpenAI</span><br>
							  <a href="https://distill.pub/about/"><i class="fa fa-home"></i></a>
						</div>
					</div>
					<br>
							<strong>TBD</strong>
					<!-- divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- end divider -->
					<!-- end divider -->
					<a href="#" class="btn btn-info btn-large" id="Submission">Paper Submission</a>
					<br>
					<br>
					<div class="alert alert-success">
						<strong>Call for papers</strong><br><br>
						This workshop is a full-day events, which will include invited talks and poster presentation of accepted papers. Papers accepted by this workshop can be resubmitted to other conferences or journals.
					 Please refer to the following Submission Guidelines.  <br>
					</div><br>
					<span><strong>Important dates </strong><br>

					<div class="alert alert-danger">
						Due to many requests, we decided to extend the submission deadline to <strong> August 7th (11:50pm PST)</strong>
					</div>


					 <table class="table table-bordered">
						  <thead>
							<tr style="color: white; background-color:#393a3d;">
							  <th style="text-align: center;">Task</th>
							  <th style="text-align: center;">Deadline</th>
							</tr>
						  </thead>
						  <tbody  style="text-align: center;">
							  <tr>
								  <td>Paper Submission Deadline</td>
								  <td><del>July 26, 2019 (11:59PM PST)</del><br>
									  <strong>August 7th, 2019 (11:50pm PST)</strong></td>
							  </tr>
							  <tr>
								  <td>Final Decisions to Authors</td>
								  <td>August 22, 2019</td>
							  </tr>
						  </tbody>
					  </table>

					<span><strong>CMT Submissions Website </strong><br>
						<a href="https://cmt3.research.microsoft.com/VXAI2019/">https://cmt3.research.microsoft.com/VXAI2019/</a></span><br><br>

					<a name="submission_guidelines"></a>
					<span><strong>Submission Guidelines</strong></span>

					<p> All submissions will be handled electronically via the conference's CMT Website. By submitting a paper, the authors agree to the policies stipulated in this website.
						The submission deadline is Friday <strong>August 7th, 2019. </strong></p>
						<p> This workshop invites <strong>full research papers at most 8 pages or extended abstract at most 4 pages, in the ICCV style</strong>. Additional pages containing only cited references are allowed.
						As <strong>single-blind peer reviewing</strong>, the author's name and affiliation are on the paper.<br><br>
						Please refer to the following files for detailed formatting instructions:</p>
					<ul>
						<li>Example submission paper with
							<a href="/static/files/egpaper_iccv19_final.pdf">detailed instructions</a>
						</li>
						<li>LaTeX/Word Templates (tar):
							<a href="/static/files/iccv2019AuthorKit.tgz">iccv2019AuthorKit.tgz</a>
						</li>
						<li>LaTeX/Word Templates (zip):
							<a href="/static/files/iccv2019AuthorKit.zip">iccv2019AuthorKit.zip</a>
						</li>
					</ul>
					<br>
					<p><b> Submissions don't need to be anonymized. You could submit using the final version templates. Paper do not use the template or have more than eight pages (excluding references) will be rejected without review. </b></p>

					<p>
						<strong>1) Paper submission and review site</strong>:</p>
					<p>
						<a href="https://cmt3.research.microsoft.com/VXAI2019" target="_blank"><strong>Submission Site</strong></a> (bookmark or save this URL!)</p>
					<p>
						Please make sure that your browser has cookies and Javascript enabled.</p>
					<p>
						Please add "<a href="mailto:email@msr-cmt.org">email@msr-cmt.org</a>" to your list of safe senders (whitelist) to prevent important email announcements from being blocked by spam filters.</p>
					<p>
						Log into CMT3 at <a href="https://cmt3.research.microsoft.com/" target="_blank">https://cmt3.research.microsoft.com</a>. If you do not see “International Conference on Computer Vision (ICCV 2019)” in the conference list already, click on the “All Conferences” tab and find it there.</p>
					<p>
						<strong>2) Setting up your profile</strong>: You can update your User Profile, Email, and Password by clicking on your name in the upper-right inside the Author Console and choosing the appropriate option under “General”.</p>
					<p>
						<!--<strong>3) Domain Conflicts</strong>: When you log in for the first time, you will be asked to enter your conflict domain information. You will not be able to submit any paper without entering this information. We need to ensure conflict-free reviewing of all papers. At any time, you can update this information by clicking on your name in the upper-right and entering “Domain Conflicts” under ICCV 2019. </p>-->
					<!--<p>-->
						<!--It is the primary author's responsibility to ensure that all authors on their paper have registered their institutional conflicts into CMT3. Each author should list domains of all institutions they have worked for, or have had very close collaboration with, within the last 3 years (example: mit.edu; ox.ac.uk; microsoft.com).  DO NOT enter the domain of email providers such as gmail.com. This institutional conflict information will be used in conjunction with prior authorship conflict information to resolve assignments to both reviewers and area chairs. If a paper is found to have an undeclared or incorrect institutional conflict, the paper may be summarily rejected. </p>-->
					<p>
						<strong>3) Creating a paper submission</strong>: This step must be completed by the paper registration deadline. After this deadline, you will not be able to register new papers, but you will be able to edit the information for existing papers. </p>

					<p>
						<strong>(a) Click the “+ Create new submission”</strong> button in the upper-left to create a new submission. There, you will be prompted to enter the title, abstract, authors, and subject areas. You are strongly encouraged to finalize the author list by the registration deadline. </p>

					<p>
						<strong>(b) Check with your co-authors</strong> to make sure that: (1) you add them with their correct CMT3 email; and (2) they have entered their domain conflicts into CMT3 for ICCV 2019. If you add an author with an email that is not in CMT3 and the name and organization is not automatically filled, that means they are not yet in the system, and you should make sure to check that they do not already have an account under a different email before completing the requested information to add them. </p>
					<p>
						<!--<strong>(c) Enter subject (topic) areas for your paper.</strong> You must include at least one primary area. This information is used to help assign ACs and reviewers. </p>-->

					<div class="row">
						<div class="col-lg-12">
							<div class="solidline">
							</div>
						</div>
					</div>
					<!-- Descriptions -->
				<div class="row">
						<div class="col-lg-12">
							<a href="#" class="btn btn-theme btn-large" id="Program">Program</a>
							<br>
							<br>
							<div class="pricing-box-alt special">
								<div class="pricing-heading">
								   <h3><strong>PROGRAM</strong> </h3>
							    </div>
							  <table class="table table-bordered">
								  <thead>
									<tr style="color: white; background-color:#393a3d;">
									  <th style="text-align: center;">Time</th>
									  <th style="text-align: center;">Title</th>
									</tr>
								  </thead>
								  <tbody  style="text-align: center;">
									  <tr>
										  <td>08:30 - 08:45</td>
										  <td>Opening Remarks</td>
									  </tr>
									  <tr>
										  <td>08:45 - 09:15</td>
										  <td>Invited Talk 1</td>
									  </tr>
									  <tr>
										  <td>09:15 - 10:00</td>
										  <td>Invited Talk 2</td>
									  </tr>
									  <tr  style="background-color: #DFDDDD;">
										  <td >10:00 - 10:30</td>
										  <td>Coffee Break</td>
									  </tr>
									  <tr>
										  <td>10:30 - 10:45</td>
										  <td>Invited Talk 3</td>
									  </tr>
									  <tr  style="background-color: #f2dede;">
										  <td>10:45 - 11:15</td>
										  <td>Poster Spotlights</td>
									  </tr>
									  <tr  style="background-color: #f2dede;">
										  <td>11:15 - 11:45</td>
										  <td>Poster Session</td>
									  </tr>
									  <tr  style="background-color: #DFDDDD;">
										  <td >11:45 - 12:45</td>
										  <td>Lunch</td>
									  </tr>
									  <tr  style="background-color: #f2dede;">
										  <td>12:45 - 13:15</td>
										  <td>Poster Session</td>
									  </tr>
									  <tr>
										  <td>13:15 - 14:00</td>
										  <td>Invited Talk 4</td>
									  </tr>
									  <tr>
										  <td>14:00 - 14:45</td>
										  <td>Invited Talk 5</td>
									  </tr>
									  <tr  style="background-color: #DFDDDD;">
										  <td >14:45 - 15:15</td>
										  <td>Coffee Break</td>
									  </tr>
									  <tr>
										  <td>15:15 - 16:00</td>
										  <td>Invited Talk 6</td>
									  </tr>
									  <tr>
										  <td>16:00 - 16:45</td>
										  <td>Tutorial on open source projects in explainable artificial Intelligence</td>
									  </tr>
									  <tr>
										  <td>16:45 - 17:00</td>
										  <td>Closing Remarks</td>
									  </tr>
								  </tbody>
							  </table>
							</div>
						</div>
					</div>
					<!-- divider -->
						<div class="row">
							<div class="col-lg-12">
								<div class="solidline">
								</div>
							</div>
						</div>
						<!-- end divider -->
						<div class="row">
							<div class="col-lg-12">
								<a href="#" class="btn btn-success btn-large" id="Contact">Contact</a>
								<br><br>
								UNIST Explainable Artificial Intelligence Center<br>
								 &emsp;&emsp;&emsp; <strong>Jaesik Choi</strong> / jaesik@unist.ac.kr / 052-217-2180<br>
								 &emsp;&emsp;&emsp; <strong>GyeongEun Lee</strong>  / socool@unist.ac.kr / 052-217-2196<br>
								 &emsp;&emsp;&emsp; <strong>Sohee Cho</strong> / shcho@unist.ac.kr / 052-217-2258<br>
								<br>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="solidline">
								</div>
							</div>
						</div>
						<!-- end divider -->
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
</section>

<!-- divider -->
<div class="row">
	<div class="col-lg-12">
		<div class="solidline">
		</div>
	</div>
</div>
<!-- end divider -->
 {% endblock content %} {% block script %}
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=g9DAE7AOMF4rEJUbJ0Kr"></script>
<script>
		// http://blog.goodkiss.co.kr/entry/ 좌표값 알아내는 사이트
		var mapOptions = {
		    center: new naver.maps.LatLng(37.5130620, 127.0586440),
		    zoom: 10
		};
		var map = new naver.maps.Map('naver-map', mapOptions);
		var marker = new naver.maps.Marker({position: new naver.maps.LatLng(37.5130620, 127.0586440), map:map})
	</script>
{% endblock script %}